<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<style>
  @import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700|Source+Sans+Pro:400,600,700&display=swap");

  * {
    box-sizing: border-box;
  }

  *:focus {
    outline: none;
  }

  .wrapper {
    display: flex;
  }

  @media screen and (max-width: 700px),
  (max-height: 500px) {
    .wrapper {
      flex-wrap: wrap;
      flex-direction: column;
    }
  }

  .card-form {
    margin: auto;
    width: 100%;
  }

  @media screen and (max-width: 576px) {
    .card-form {
      margin: 0 auto;
    }
  }

  .card-form__inner {
    background: #fff;
    box-shadow: 0 30px 60px 0 rgb(56 56 56 / 15%);
    padding: 35px;
    padding-top: 180px;
  }

  @media screen and (max-width: 480px) {
    .card-form__inner {
      padding: 25px;
      padding-top: 165px;
    }
  }

  @media screen and (max-width: 360px) {
    .card-form__inner {
      padding: 15px;
      padding-top: 165px;
    }
  }

  .card-form__row {
    display: flex;
    align-items: flex-start;
  }

  @media screen and (max-width: 480px) {
    .card-form__row {
      flex-wrap: wrap;
    }
  }

  .card-form__col {
    flex: auto;
    margin-right: 35px;
  }

  .card-form__col:last-child {
    margin-right: 0;
  }

  @media screen and (max-width: 480px) {
    .card-form__col {
      margin-right: 0;
      flex: unset;
      width: 100%;
      margin-bottom: 20px;
    }

    .card-form__col:last-child {
      margin-bottom: 0;
    }
  }

  .card-form__col.-cvv {
    max-width: 150px;
  }

  @media screen and (max-width: 480px) {
    .card-form__col.-cvv {
      max-width: initial;
    }
  }

  .card-form__group {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .card-form__group .card-input__input {
    flex: 1;
    margin-right: 15px;
  }

  .card-form__group .card-input__input:last-child {
    margin-right: 0;
  }

  .card-form__button {
    font-family: "Rajdhani";
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .1rem;
    width: 100%;
    height: 55px;
    border: none;
    font-size: 22px;
    box-shadow: 3px 10px 20px 0px rgb(134 134 134 / 8%);
    margin-top: 20px;
    cursor: pointer;
  }

  .card-form__button:disabled {
    background: #f1f1f1 !important;
    color: #e2e2e2 !important;
  }

  .card-form__button {
    background: #4cd964;
    color: #ffffff;
  }


  @media screen and (max-width: 480px) {
    .card-form__button {
      margin-top: 10px;
    }
  }

  .card-item {
    height: 270px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
    width: 100%;
  }

  @media screen and (max-width: 480px) {
    .card-item {
      max-width: 310px;
      height: 220px;
      width: 90%;
    }
  }

  @media screen and (max-width: 360px) {
    .card-item {
      height: 180px;
    }
  }

  .card-item.-active .card-item__side.-front {
    transform: perspective(1000px) rotateY(180deg) rotateX(0deg) rotateZ(0deg);
  }

  .card-item.-active .card-item__side.-back {
    transform: perspective(1000px) rotateY(0) rotateX(0deg) rotateZ(0deg);
  }

  .card-item__focus {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.35s cubic-bezier(0.71, 0.03, 0.56, 0.85);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.65);
  }

  .card-item__focus:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #08142f;
    height: 100%;
    border-radius: 5px;
    filter: blur(25px);
    opacity: 0.5;
  }

  .card-item__focus.-active {
    opacity: 1;
  }

  .card-item__side {
    overflow: hidden;
    box-shadow: 0 20px 60px 0 rgb(191 191 191 / 55%);
    transform: perspective(2000px) rotateY(0deg) rotateX(0deg) rotate(0deg);
    transform-style: preserve-3d;
    transition: all 0.8s cubic-bezier(0.71, 0.03, 0.56, 0.85);
    backface-visibility: hidden;
    height: 100%;
  }

  .card-item__side.-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: perspective(2000px) rotateY(-180deg) rotateX(0deg) rotate(0deg);
    z-index: 2;
    padding: 0;
    height: 100%;
  }

  .card-item__side.-back .card-item__cover {
    transform: rotateY(-180deg);
  }

  .card-item__bg {
    /* filter: grayscale(1); */
    max-width: 100%;
    display: block;
    max-height: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .card-item__cover {
    height: 100%;
    background-color: #1c1d27;
    position: absolute;
    height: 100%;
    background-color: #1c1d27;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
  }

  .card-item__cover:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(6, 2, 29, 0.45);
    /* background: rgb(13 13 13 / 71%); */
  }

  .card-item__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 0 10px;
  }

  @media screen and (max-width: 480px) {
    .card-item__top {
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width: 360px) {
    .card-item__top {
      margin-bottom: 15px;
    }
  }

  .card-item__chip {
    width: 60px;
  }

  @media screen and (max-width: 480px) {
    .card-item__chip {
      width: 50px;
    }
  }

  @media screen and (max-width: 360px) {
    .card-item__chip {
      width: 40px;
    }
  }

  .card-item__type {
    height: 45px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    max-width: 100px;
    margin-left: auto;
    width: 100%;
  }

  @media screen and (max-width: 480px) {
    .card-item__type {
      height: 40px;
      max-width: 90px;
    }
  }

  @media screen and (max-width: 360px) {
    .card-item__type {
      height: 30px;
    }
  }

  .card-item__typeImg {
    max-width: 100%;
    object-fit: contain;
    max-height: 100%;
    object-position: top right;
  }

  .card-item__info {
    color: #fff;
    width: 100%;
    max-width: calc(100% - 85px);
    padding: 10px 15px;
    font-weight: 500;
    display: block;
    cursor: pointer;
  }

  @media screen and (max-width: 480px) {
    .card-item__info {
      padding: 10px;
    }
  }

  .card-item__holder {
    font-family: "Rajdhani";
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .1rem;
    opacity: 0.7;
    font-size: 13px;
    margin-bottom: 6px;
  }

  @media screen and (max-width: 480px) {
    .card-item__holder {
      font-size: 12px;
      margin-bottom: 5px;
    }
  }

  .card-item__wrapper {
    font-family: "Source Code Pro", monospace;
    padding: 25px 15px;
    position: relative;
    z-index: 4;
    height: 100%;
    text-shadow: 7px 6px 10px rgba(14, 42, 90, 0.8);
    user-select: none;
  }

  @media screen and (max-width: 480px) {
    .card-item__wrapper {
      padding: 20px 10px;
    }
  }

  .card-item__name {
    font-size: 18px;
    line-height: 1;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
  }

  @media screen and (max-width: 480px) {
    .card-item__name {
      font-size: 16px;
    }
  }

  .card-item__nameItem {
    display: inline-block;
    min-width: 8px;
    position: relative;
  }

  .card-item__number {
    font-weight: 500;
    line-height: 1;
    color: #fff;
    font-size: 27px;
    margin-bottom: 35px;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
  }

  @media screen and (max-width: 480px) {
    .card-item__number {
      font-size: 21px;
      margin-bottom: 15px;
      padding: 10px 10px;
    }
  }

  @media screen and (max-width: 360px) {
    .card-item__number {
      font-size: 19px;
      margin-bottom: 10px;
      padding: 10px 10px;
    }
  }

  .card-item__numberItem {
    width: 16px;
    display: inline-block;
  }

  .card-item__numberItem.-active {
    width: 30px;
  }

  @media screen and (max-width: 480px) {
    .card-item__numberItem {
      width: 13px;
    }

    .card-item__numberItem.-active {
      width: 16px;
    }
  }

  @media screen and (max-width: 360px) {
    .card-item__numberItem {
      width: 12px;
    }

    .card-item__numberItem.-active {
      width: 8px;
    }
  }

  .card-item__content {
    color: #fff;
    display: flex;
    align-items: flex-start;
  }

  .card-item__date {
    flex-wrap: wrap;
    font-size: 18px;
    margin-left: auto;
    padding: 10px;
    display: inline-flex;
    width: 80px;
    white-space: nowrap;
    flex-shrink: 0;
    cursor: pointer;
  }

  @media screen and (max-width: 480px) {
    .card-item__date {
      font-size: 16px;
    }
  }

  .card-item__dateItem {
    position: relative;
  }

  .card-item__dateItem span {
    width: 22px;
    display: inline-block;
  }

  .card-item__dateTitle {
    opacity: 0.7;
    font-size: 13px;
    padding-bottom: 6px;
    width: 100%;
  }

  @media screen and (max-width: 480px) {
    .card-item__dateTitle {
      font-size: 12px;
      padding-bottom: 5px;
    }
  }

  .card-item__band {
    background: rgba(0, 0, 19, 0.8);
    width: 100%;
    height: 50px;
    margin-top: 30px;
    position: relative;
    z-index: 2;
  }

  @media screen and (max-width: 480px) {
    .card-item__band {
      margin-top: 20px;
    }
  }

  @media screen and (max-width: 360px) {
    .card-item__band {
      height: 40px;
      margin-top: 10px;
    }
  }

  .card-item__cvv {
    text-align: right;
    position: relative;
    z-index: 2;
    padding: 15px;
  }

  .card-item__cvv .card-item__type {
    opacity: 0.7;
  }

  @media screen and (max-width: 360px) {
    .card-item__cvv {
      padding: 10px 15px;
    }
  }

  .card-item__cvvTitle {
    padding-right: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 5px;
  }

  .card-item__cvvBand {
    height: 45px;
    background: #fff;
    margin-bottom: 30px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    color: #1a3b5d;
    font-size: 18px;
    box-shadow: 0px 10px 20px -7px rgba(32, 56, 117, 0.35);
  }

  @media screen and (max-width: 480px) {
    .card-item__cvvBand {
      height: 40px;
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 360px) {
    .card-item__cvvBand {
      margin-bottom: 15px;
    }
  }

  .card-list {
    margin-bottom: -130px;
  }

  @media screen and (max-width: 480px) {
    .card-list {
      margin-bottom: -120px;
    }
  }

  .card-input {
    margin-bottom: 20px;
  }

  .card-input__label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #1a3b5d;
    width: 100%;
    display: block;
    user-select: none;
  }

  .card-input__input {
    width: 100%;
    height: 50px;
    box-shadow: none;
    border: 1px solid #ced6e0;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    padding: 5px 15px;
    background: none;
    color: #1a3b5d;
    font-family: "Source Sans Pro", sans-serif;
  }

  .card-input__input:hover,
  .card-input__input:focus {
    border-color: #3d9cff;
  }

  .card-input__input:focus {
    box-shadow: 0px 10px 20px -13px rgba(32, 56, 117, 0.35);
  }

  .card-input__input.-select {
    -webkit-appearance: none;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAeCAYAAABuUU38AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUxJREFUeNrM1sEJwkAQBdCsngXPHsQO9O5FS7AAMVYgdqAd2IGCDWgFnryLFQiCZ8EGnJUNimiyM/tnk4HNEAg/8y6ZmMRVqz9eUJvRaSbvutCZ347bXVJy/ZnvTmdJ862Me+hAbZCTs6GHpyUi1tTSvPnqTpoWZPUa7W7ncT3vK4h4zVejy8QzM3WhVUO8ykI6jOxoGA4ig3BLHcNFSCGqGAkig2yqgpEiMsjSfY9LxYQg7L6r0X6wS29YJiYQYecemY+wHrXD1+bklGhpAhBDeu/JfIVGxaAQ9sb8CI+CQSJ+QmJg0Ii/EE2MBiIXooHRQhRCkBhNhBcEhLkwf05ZCG8ICCOpk0MULmvDSY2M8UawIRExLIQIEgHDRoghihgRIgiigBEjgiFATBACAgFgghEwSAAGgoBCBBgYAg5hYKAIFYgHBo6w9RRgAFfy160QuV8NAAAAAElFTkSuQmCC");
    background-size: 12px;
    background-position: 90% center;
    background-repeat: no-repeat;
    padding-right: 30px;
  }

  .slide-fade-up-enter-active {
    transition: all 0.25s ease-in-out;
    transition-delay: 0.1s;
    position: relative;
  }

  .slide-fade-up-leave-active {
    transition: all 0.25s ease-in-out;
    position: absolute;
  }

  .slide-fade-up-enter {
    opacity: 0;
    transform: translateY(15px);
    pointer-events: none;
  }

  .slide-fade-up-leave-to {
    opacity: 0;
    transform: translateY(-15px);
    pointer-events: none;
  }

  .slide-fade-right-enter-active {
    transition: all 0.25s ease-in-out;
    transition-delay: 0.1s;
    position: relative;
  }

  .slide-fade-right-leave-active {
    transition: all 0.25s ease-in-out;
    position: absolute;
  }

  .slide-fade-right-enter {
    opacity: 0;
    transform: translateX(10px) rotate(45deg);
    pointer-events: none;
  }

  .slide-fade-right-leave-to {
    opacity: 0;
    transform: translateX(-10px) rotate(45deg);
    pointer-events: none;
  }

  .github-btn {
    position: absolute;
    right: 40px;
    bottom: 50px;
    text-decoration: none;
    padding: 15px 25px;
    box-shadow: 0px 4px 30px -6px rgba(36, 52, 70, 0.65);
    background: #24292e;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }

  @media screen and (min-width: 500px) {
    .github-btn:hover {
      transform: scale(1.1);
      box-shadow: 0px 17px 20px -6px rgba(36, 52, 70, 0.36);
    }
  }

  @media screen and (max-width: 700px) {
    .github-btn {
      position: relative;
      bottom: auto;
      right: auto;
      margin-top: 20px;
    }

    .github-btn:active {
      transform: scale(1.1);
      box-shadow: 0px 17px 20px -6px rgba(36, 52, 70, 0.36);
    }
  }
  .upload {
    cursor: pointer;
    position: relative !important;
    display: block !important;
    height: 200px;
}
.upload .image {
  color: #b4b8c1;
  stroke: none;
  transform: rotate(15deg);
}
.upload .circle {
  display: block;
  stroke: #edeef1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 4;
  width: 164px;
  height: 164px;
  opacity: 0;
  transition: all 0.2s ease;
  transform: rotate(-90deg);
}
.upload .circle .active {
  stroke: #67c38a;
  stroke-dasharray: 502.65;
  stroke-dashoffset: 502.65;
  transition: all 4s ease;
}
.upload:before {
  content: "";
  border-radius: 12px;
  background: rgba(180, 184, 193, 0.3);
  transform: rotate(-15deg);
}
.upload .image, .upload:before {
  display: block;
  width: 52px;
  height: 52px;
  margin: -26px 0 0 -26px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform-origin: 0% 100%;
  transition: all 0.5s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}
.upload:not(.do):hover .image {
  transform: rotate(10deg);
  color: #67c38a;
}
.upload:not(.do):hover:before {
  transform: rotate(-10deg);
  background: rgba(103, 195, 138, 0.3);
}
.upload.do .image {
  color: #67c38a;
  transform: rotate(10deg);
  -webkit-animation: bounce 1s infinite ease;
          animation: bounce 1s infinite ease;
}
.upload.do:before {
  background: rgba(103, 195, 138, 0.3);
  transform: rotate(-10deg);
  -webkit-animation: bounceAlt 1s infinite ease;
          animation: bounceAlt 1s infinite ease;
}
.upload.do .circle {
  opacity: 1;
}
.upload.do .circle .active {
  stroke-dashoffset: 0;
}
.upload.animateEnd .image, .upload.animateEnd:before {
  -webkit-animation: none;
          animation: none;
}
.upload.animateEnd .image {
  transform: rotate(10deg);
}
.upload.animateEnd:before {
  transform: rotate(-10deg);
}
.upload.animateEnd .circle {
  opacity: 0;
  transition-delay: 0s;
}
.upload.animateEnd .circle .active {
  stroke-dasharray: 502.65;
  stroke-dashoffset: 502.65;
}

@-webkit-keyframes bounce {
  50% {
    transform: rotate(15deg);
  }
}

@keyframes bounce {
  50% {
    transform: rotate(15deg);
  }
}
@-webkit-keyframes bounceAlt {
  50% {
    transform: rotate(-15deg);
  }
}
@keyframes bounceAlt {
  50% {
    transform: rotate(-15deg);
  }
}
</style>
<div class="wrapper" id="app">
  <div class="card-form">
    <div class="card-list">
      <div class="card-item" v-bind:class="{ '-active' : isCardFlipped }">
        <div class="card-item__side -front">
          <div class="card-item__focus" v-bind:class="{'-active' :
            focusElementStyle }" v-bind:style="focusElementStyle" ref="focusElement"></div>
                <div class="card-item__cover">
            <img src="https://gravityparamotors.com/wp-content/uploads/videobackground.jpg" class="card-item__bg">
          </div>
          <div class="card-item__wrapper">
            <label for="serialNumber" class="card-item__number" ref="serialNumber">
              <template v-if="getCardType === 'amex'">
                <span v-for="(n, $index) in amexCardMask" :key="$index">
                  <transition name="slide-fade-up">
                    <div class="card-item__numberItem" v-if="$index> 4 && $index
                      <14 && serialNumber.length> $index
                        && n.trim() !== ''"></div>
                    <div class="card-item__numberItem" :class="{ '-active' :
                        n.trim() === '' }" :key="$index" v-else-if="serialNumber.length> $index">
                      {{serialNumber[$index]}}
                    </div>
                    <div class="card-item__numberItem" :class="{ '-active' :
                        n.trim() === '' }" v-else :key="$index + 1">{{n}}</div>
                  </transition>
                </span>
              </template>
              <template v-else>
                <span v-for="(n, $index) in otherCardMask" :key="$index">
                  <transition name="slide-fade-up">
                    <div class="card-item__numberItem" v-if="$index> 10 &&
                        serialNumber.length>
                        $index && n.trim() !== ''"></div>
                    <div class="card-item__numberItem" :class="{ '-active' :
                        n.trim() === '' }" :key="$index" v-else-if="serialNumber.length> $index">
                      {{serialNumber[$index]}}
                    </div>
                    <div class="card-item__numberItem" :class="{ '-active' :
                        n.trim() === '' }" v-else :key="$index + 1">{{n}}</div>
                  </transition>
                </span>
              </template>
            </label>
            <div class="card-item__content">
              <label for="paramotorOwner" class="card-item__info" ref="paramotorOwner">
                <div class="card-item__holder">Paramotor Owner</div>
                <transition name="slide-fade-up">
                  <div class="card-item__name" v-if="paramotorOwner.length" key="1">
                    <transition-group name="slide-fade-right">
                      <span class="card-item__nameItem" v-for="(n, $index)
                          in paramotorOwner.replace(/\s\s+/g, ' ')" v-if="$index
                          ===
                          $index" v-bind:key="$index + 1">{{n}}</span>
                    </transition-group>
                  </div>
                  <div class="card-item__name" v-else key="2">Full Name</div>
                </transition>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-form__inner">
      <div v-if="!busy" class="card_bottom_feilds">
        <div class="card-input">
          <label for="serialNumber" class="card-input__label">Paramotor Serial Number</label>
          <input type="text" id="serialNumber" class="card-input__input" v-mask="generateserialNumberMask"
            v-model="serialNumber" v-on:focus="focusInput" v-on:blur="blurInput" data-ref="serialNumber"
            autocomplete="off">
        </div>
        <div class="card-input">
          <label for="paramotorOwner" class="card-input__label">Paramotor
            Owner [
            Full Name ]</label>
          <input type="text" id="paramotorOwner" class="card-input__input" v-model="paramotorOwner"
            v-on:focus="focusInput" v-on:blur="blurInput" data-ref="paramotorOwner" autocomplete="off">
        </div>
        <button :disabled='isDisabled' v-on:click="register()" class="card-form__button">
          Register Paramotor
        </button>
      </div>
      <div v-else>
        <h4>Fetching order information for #{{this.serialNumber}}...</h4>
        <p>Almost done, the registration process is almost complete. We're grabbing your paramotor parts and warranty information!</p>
        <div class="upload do"><svg viewBox="0 0 60 60" class="image"><rect fill="currentColor" x="0" y="0" width="60" height="60" rx="11.9999993"></rect> <circle fill="#FFFFFF" cx="15" cy="15" r="5"><circle fill="#FFFFFF" cx="15" cy="15" r="5"></circle></circle> <path d="M 50 54 L 10 54 C 7.7909 54 6 52.2091 6 50 L 6 44.2868 L 6 29 L 54 29 L 54 50 C 54 52.2091 52.2091 54 50 54 Z" fill="#FFFFFF"></path></svg></div>
      </div>
    </div>
  </div>
</div>
<script>
  new Vue({
    el: "#app",
    data() {
      return {
        busy: false,
        isDisabled: true,
        currentCardBackground: Math.floor(Math.random() * 25 + 1), // just for fun :D
        paramotorOwner: "",
        serialNumber: "",
        serialValid: false,
        nameValid: false,
        minCardYear: new Date().getFullYear(),
        amexCardMask: "DFX0001",
        otherCardMask: "DFX0001",
        serialNumberTemp: "",
        isCardFlipped: false,
        focusElementStyle: null,
        isInputFocused: false
      };
    },
    mounted() {
      this.serialNumberTemp = this.otherCardMask;
      document.getElementById("serialNumber").focus();
    },
    computed: {
      getCardType() {

      },
      generateserialNumberMask() {
        return this.getCardType === "amex" ? this.amexCardMask : this.otherCardMask;
      },
      minCardMonth() {
        if (this.cardYear === this.minCardYear) return new Date().getMonth() + 1;
        return 1;
      }
    },
    watch: {
      serialNumber(value) {
        this.serialNumber = value;
        this.validateSerial(this.serialNumber);
      },
      paramotorOwner(value) {
        this.paramotorOwner = value;
        this.validateName(this.paramotorOwner);
      }

    },
    methods: {
      flipCard(status) {
        this.isCardFlipped = status;
      },
      focusInput(e) {
        this.isInputFocused = true;
        let targetRef = e.target.dataset.ref;
        let target = this.$refs[targetRef];
        this.focusElementStyle = {
          width: `${target.offsetWidth}px`,
          height: `${target.offsetHeight}px`,
          transform: `translateX(${target.offsetLeft}px) translateY(${target.offsetTop}px)`
        }
      },
      validateName(name) {
        console.log(name)
        var regName = /^[a-zA-Z]+ [a-zA-Z]+$/;
        if (!regName.test(name)) {
          this.nameValid = false;
        } else {
          this.nameValid = true;
        }
        this.canRegister();
      },
      validateSerial(serial) {
        if (serial.length < 6) {
          console.log('invalid')
          this.serialValid = false;
        } else {
          console.log('valid')
          this.serialValid = true;
        }
        this.canRegister();
      },
      canRegister() {
        if (this.serialValid && this.nameValid) {
          this.isDisabled = false;
        } else {
          this.isDisabled = true;
        }
      },
      register() {
        this.busy = true;
        console.log('registering');
      },
      blurInput() {
        let vm = this;
        setTimeout(() => {
          if (!vm.isInputFocused) {
            vm.focusElementStyle = null;
          }
        }, 300);
        vm.isInputFocused = false;
      }
    }
  });
</script>